# Dependencies
node_modules/
.pnp
.pnp.js

# Production
dist/
build/
coverage/

# Misc
.DS_Store
*.log
.env*
!.env.example

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

